<!DOCTYPE html>
<html id="crudMain" ng-app="module.app">
<head lang="en">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/crud-portlets/css/bootstrap.min.css"> -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->

<title>hey!</title>
</head>
<BODY>


<div ng-controller="ProductController">
    <div class="container">
    <!--div-->
        <div class="table-responsive">

            Here my variable : {{myvar}}
         <!--   <table class="table">

                <thead>
                <tr>
                    <th>id</th>
                    <th>Label</th>
                    <th>Category</th>
                    <th>Company</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td></td>
                    <td>{{product.label}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.company}}</td>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table> -->
        </div>
    </div>
    <!--ul>
        <li ng-repeat="product in products">
            <div> Label: {{product.label}}</div>
            <div> Category: {{product.category}}</div>
            <div> Company: {{product.company}}</div>
            <div> Price: {{product.price}}</div>
            <div>--------------------------</div>
        </li>
    </ul-->
</div>
</BODY>
</html>