<!DOCTYPE html>
<html id="crudMain" ng-app="appName">
<head lang="en">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/crud-portlets/css/bootstrap.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->

<title></title>
</head>
<BODY>
<!--script src="/crud-portlets/js/angular.min.js"></script-->
<script>
//Controller
require(["SHARED/bootstrap"]);
//define("gggg",["SHARED/jquery","SHARED/angularJS"], function($){
require(["SHARED/jquery","SHARED/angularJS"], function($){


var rootPage=$('#crudMain');
var myApp = angular.module('appName',[]);


var repeatedProducts=function getList($scope, $http) {
    $http.get('/rest/productdata/productlist').success(function(data) {
            $scope.products = data;
        });
}
myApp.controller("repeatedProducts",repeatedProducts);
angular.bootstrap(rootPage,['appName']);

});
//require( ["gggg"], function (angularcec)
//{
//angularcec;
//});
</script>

<div ng-controller="repeatedProducts">
    <div class="container">
    <!--div-->
        <div class="table-responsive">
        <!--div-->
            <table class="table">
            <!--table-->
                <thead>
                <tr>
                    <th>id</th>
                    <th>Label</th>
                    <th>Category</th>
                    <th>Company</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td></td>
                    <td>{{product.label}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.company}}</td>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--ul>
        <li ng-repeat="product in products">
            <div> Label: {{product.label}}</div>
            <div> Category: {{product.category}}</div>
            <div> Company: {{product.company}}</div>
            <div> Price: {{product.price}}</div>
            <div>--------------------------</div>
        </li>
    </ul-->
</div>
</BODY>
</html>